body {
    
    background: #f0f0f0;
    }
h1{
    text-align: center;
    padding: 15px;
    padding-bottom: 0px;
}


img{
    width: 500px;
}
table{
    margin: auto;
}
td{
    padding: 40px;
}

#pkozep{
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
}
p{
    text-align: center;
    font-weight: bold;
}
