body {
    background: #f0f0f0;
    text-align: center;
    }

    h1{
        text-align: center;
        padding: 15px;
        padding-bottom: 50px;
        font-weight: bolder;
    }

    img{
        height: 500px;
        padding: 20px;
    }

.haza, .haza2, .haza3{
    padding: 25px;
}
footer{
    float: left;
}
.ind{
    padding: 20px;
}
.erk{
    padding: 20px;
}