body {
    background: #f0f0f0;
    text-align: center;
    }

    h1{
        text-align: center;
        padding: 15px;
        padding-bottom: 100px;
    }

    img{
        height: 500px;
        padding: 20px;
    }

.haza, .haza2, .haza3{
    padding: 20px;
}
footer{
    float: left;
}